@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

.container {
    width: 100%;
}

.header {
    background-color: #00796b;
    height: 40px;
}

.mail a,
i {
    color: #fff;
    text-decoration: none;
}

.mail a:hover {
    color: #fff;
    text-decoration: underline;
}

.mob i,
a {
    color: #fff;
    text-decoration: none;
}

.mob a:hover {
    color: #fff;
}

.social {
    text-align: end;
}

.social i {

    color: rgba(255, 255, 255, 0.6);
}

.social i:hover {

    color: #fff;
}


.banner {
    background-color: #008374;
    height: 100vh;
}

.logo {
    margin-top: 30px;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
}

.logo a::after {
    content: ".";
    color: #f96f59;
}

.nav {
    text-align: end;
}

.nav a {
    padding: 0px 0px 0px 25px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: rgba(255, 255, 255, 0.6);
}

.nav a:hover {
    color: #fff;
}

.dropdown-menu {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu:hover {
    color: #fff;
}

.welcome h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 100px;
    color: #fff;
}

.welcome p {
    font-size: 18px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.btn {

    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.btn:hover {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.banner-img img {
    width: 90%;
    align-items: center;
    margin-top: 40px;
}

.banner-icon {
    position: relative;
}

.icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #008d7d;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    height: 250px;
    margin-top: -150px;


}

.icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);

}

.icon i {}


.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.title a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

p{
    color: #6f6f6f;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

